/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
workspace.code-workspace
supervisord.log
supervisord.pid
database/datasets/data.sql
f.sh
database/datasets/nhlscraper_failed_jobs.sql
database/datasets/nhlscraper_game_play_by_play.sql
database/datasets/nhlscraper_games.sql
database/datasets/nhlscraper_goalie_stats_alltime.sql
database/datasets/nhlscraper_goalie_stats_game.sql
database/datasets/nhlscraper_goalie_stats_season.sql
database/datasets/nhlscraper_migrations.sql
database/datasets/nhlscraper_password_resets.sql
database/datasets/nhlscraper_personal_access_tokens.sql
database/datasets/nhlscraper_players.sql
database/datasets/nhlscraper_seasons.sql
database/datasets/nhlscraper_skater_stats_alltime.sql
database/datasets/nhlscraper_skater_stats_game.sql
database/datasets/nhlscraper_skater_stats_season.sql
database/datasets/nhlscraper_team_stats_alltime.sql
database/datasets/nhlscraper_team_stats_game.sql
database/datasets/nhlscraper_team_stats_season.sql
database/datasets/nhlscraper_teams.sql
database/datasets/nhlscraper_users.sql
